
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
env/
venv/
envnewww/
.venv/

# Django


# Media files (uploads)
media/

# Static collected files
staticfiles/

# Environment variables
.env

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db